# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database dumps / fixtures
full_data.json
full_data_utf8.json

# Temporary / helper scripts
fix_encoding.py
